:root {
   --logo-color: #2196f3;
   --logo-second-color: #212121;
   --logo-third-color: #ffffff;

   --main-color: #212121;
   --main-second-color: #757575;
   --main-third-color: #ffffff;
   --link-footer-color: rgba(255, 255, 255, 0.6);

   --base-background: #ffffff;
   --hero-background: #2f303a;
   --team-background: #f5f4fa;
   --footer-background: #2f303a;

   --button-hero-background: #2196f3;
   --button-background: #f5f4fa;

   --action-color: #2196f3;
   --action-second-color: #ffffff;
   --action-button-background: #2196f3;
   --action-button-second-background: #188ce8;

   --border-color: #eeeeee;
}

body {
   font-family: "Roboto", sans-serif;
   color: var(--main-color);
   background-color: var(--base-background);
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

p {
   margin: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

.container {
   width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   /* outline: 1px solid tomato; */
}

/* Секція "header" */
.logo {
   margin-right: 93px;

   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   text-decoration: none;
   color: var(--logo-color);
}
.logo .logo-header {
   color: var(--logo-second-color);
}
.nav-link,
.contact-link {
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;

   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   text-decoration: none;

   color: var(--main-color);
}
.contact-link {
   color: var(--main-second-color);
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
   color: var(--action-color);
}
.current {
   color: var(--action-color);
}
.container-flex {
   display: flex;
   align-items: center;
}
.nav {
   display: flex;
   align-items: center;
}
.nav-list {
   display: flex;
}
.contact-list {
   display: flex;
   margin-left: auto;
}
.nav-item:not(:last-child),
.contact-item:not(:last-child) {
   margin-right: 50px;
}

/* Секція "hero" */
.hero {
   background-color: var(--hero-background);
   text-align: center;
   padding: 200px 0px;
}
.hero-caption {
   width: 696px;
   margin: 0px auto;
   margin-bottom: 30px;

   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--main-third-color);
}
.hero-btn {
   padding: 10px 32px;
   border: none;
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   text-align: center;
   letter-spacing: 0.06em;
   color: var(--main-third-color);
   cursor: pointer;

   background: var(--button-hero-background);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
   background: var(--action-button-second-background);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
}

/* Секція "feature", Особливості */

/* .visually-hidden прибирає заголовок h2 - "Особливості" */
.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}
.features {
   padding: 94px 0px;
}
.features-list {
   display: flex;
}
.features-item {
   width: calc((100%-90px) / 4);
}
.features-item:not(:last-child) {
   margin-right: 30px;
}
.features-title {
   margin-bottom: 10px;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
.features-subtitle {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--main-second-color);
}

/* Секція "product. Чим ми займаємося*/
.product {
   padding-bottom: 94px;
}
.product-caption {
   margin-bottom: 50px;

   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
}
.product-list {
   display: flex;
}
.product-item:not(:last-child) {
   margin-right: 30px;
}
/* Секція "team", Наша команда */
.team {
   padding: 94px 0px;

   background-color: var(--team-background);
}
.team-caption {
   margin-bottom: 50px;

   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
}
.team-list {
   display: flex;
   justify-content: space-between;
}
.team-item {
   background-color: var(--base-background);

   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}
.team-title-subtitle {
   padding: 30px 0px;
}
.team-title,
.team-subtitle {
   margin-bottom: 10px;

   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
   letter-spacing: 0.03em;
}
/* .team-img {
}

.team-title {
} */

.team-subtitle {
   margin-bottom: 0px;

   font-weight: 400;
   color: var(--main-second-color);
}

/* Секція "footer" */
.footer {
   padding: 60px 0px;

   background-color: var(--footer-background);
}
.logo-bottom {
   display: block;
   margin-right: 0px;
   margin-bottom: 20px;
}
.logo-footer {
   color: var(--logo-third-color);
}
.address-item {
   margin-bottom: 10px;
}
.address-item:last-child {
   margin-bottom: 0px;
}
.address-link {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--link-footer-color);
   text-decoration: none;
}
.address-link.map {
   color: var(--main-third-color);
}
.address-link:hover,
.address-link:focus {
   color: var(--action-color);
}

/* ----------------   Сторінка " Портфоліо (2-га сторінка)   ----------- "  */
.header-portfolio {
   border-bottom: 1px solid #ececec;
}

.projects {
   padding-top: 94px;
   padding-bottom: 94px;
}
/* фільтер */
.filter-list {
   display: flex;
   justify-content: center;

   margin-bottom: 50px;
}
.filter-item:not(:last-child) {
   margin-right: 8px;
}
.filter-btn {
   padding: 6px 22px;

   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.63;
   text-align: center;
   letter-spacing: 0.03em;
   cursor: pointer;

   background-color: var(--button-background);
   border-radius: 4px;
   border: none;
}
.filter-btn.first {
   padding: 6px 25px;
}
.filter-btn:hover,
.filter-btn:focus {
   color: var(--action-second-color);
   background-color: var(--action-button-background);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
}
/* Список проектів */
.projects-list {
   display: flex;
   flex-wrap: wrap;
}
.projects-item {
   background: var(--base-background);
}
.projects-item:not(:nth-child(3n)) {
   margin-right: 30px;
}
.projects-item:not(:nth-last-child(-n + 3)) {
   margin-bottom: 30px;
}
.projects-title-subtitle {
   padding: 20px 24px;

   border-right: 1px solid var(--border-color);
   border-bottom: 1px solid var(--border-color);
   border-left: 1px solid var(--border-color);
}
.projects-title {
   margin-bottom: 4px;

   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
}
.projects-subtitle {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;
   color: var(--main-second-color);
}

/* ------------Д.з. № 3---------- */
